<ion-header class="{{darkNormalCalss}}" [translucent]="true">
    <div class="menu-header" id="main-content">
        <ion-buttons slot="start" (click)="closeModel()">
      		<ion-button class="menueButtonClass"><ion-icon name="close-outline" class="iconMenu"></ion-icon></ion-button>
        </ion-buttons>
    </div>
    <div class="logo">
        <ion-title>
            {{ticketAction}}
        </ion-title>
    </div>
</ion-header>
<ion-content>
 	<div>
    	<div *ngFor="let items of returnTicketsArray;let i = index">
             <div class="ticketActionContent {{darkNormalCalss}}">
                <div class="ticketAction {{darkNormalCalss}}">{{items.actionName}}</div>
                <div class="ticketNote {{darkNormalCalss}}">{{items.note}}</div>
                <div class="ticketData">{{items.createdAt}}</div>
            </div>
        </div>
    </div>
</ion-content>
