<ion-header class="{{darkNormalCalss}}" [translucent]="true">
    <div class="menu-header" id="main-content">
        <ion-buttons slot="start">
      		<div class="menueButtonClass" (click)="functioncloseModel()"><ion-icon name="close-outline" class="iconMenu"></ion-icon></div>
        </ion-buttons>
    </div>
    <div class="logo">
        <ion-title>{{changePasswordTitle}}</ion-title>
    </div>
</ion-header>
<ion-content>
<!-- Login Form -->
<div class="img-changepassword">
  <img src="../../assets/images/changePass.png" *ngIf="darkNormalCalss=='normal'" style="width:5rem">
  <img src="../../assets/images/changePassDark.png" *ngIf="darkNormalCalss=='dark'" style="width:5rem">
</div>
<div class="changepassword-form">
    <form style="display: contents;" (ngSubmit)="changePassword()">
        <ion-item lines="full">
            <ion-label position="floating">{{oldPassword}}</ion-label>
            <ion-input [type]="showOldPassword ? 'text' : 'password'" [(ngModel)]="oldPasswordVal" [ngModelOptions]="{standalone: true}" (ionInput)="checkOldPassword($event.target.value)"></ion-input><ion-icon [name]="showOldPassword ? 'eye' : 'eye-off'" class="eye {{darkNormalCalss}}" (click)="changeOldPasswordType()"></ion-icon>
        </ion-item>
        <div class="errorNoData" *ngIf="showMessageOldPassword ==1">{{changePasswordOldMsg}}</div> 
        
        <ion-item lines="full">
            <ion-label position="floating">{{newPassword}}</ion-label>
            <ion-input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPasswordVal" [ngModelOptions]="{standalone: true}" (ionInput)="checkNewPassword($event.target.value)"></ion-input><ion-icon [name]="showNewPassword ? 'eye' : 'eye-off'" class="eye {{darkNormalCalss}}" (click)="changeNewPasswordType()"></ion-icon>
        </ion-item>
        <div class="errorNoData" *ngIf="showMessageNewPassword ==1">{{changePasswordNewMsg}}</div> 
        
        <ion-item lines="full">
            <ion-label position="floating">{{confirmPassword}}</ion-label>
            <ion-input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPasswordVal" [ngModelOptions]="{standalone: true}" (ionInput)="checkConfirmPassword($event.target.value)"></ion-input><ion-icon [name]="showConfirmPassword ? 'eye' : 'eye-off'" class="eye {{darkNormalCalss}}" (click)="changeConfirmPasswordType()"></ion-icon>
        </ion-item>
        <div class="errorNoData" *ngIf="showMessageConfirmPassword ==1">{{changePasswordConfirmMsg}}</div> 
         <div class="errorNoData" *ngIf="showMessageNewConfirmPassword ==1">{{changePasswordNewConfirmMsg}}</div> 
        <div class="login-btn">
        	<ion-button class="{{darkNormalCalss}}" color="danger" expand="block" (click)="changePassword()">{{change}}</ion-button>
        </div>
        <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
    </form>
</div>
</ion-content>
