<ion-header class="{{darkNormalCalss}}" [translucent]="true">
    <div class="menu-header" id="main-content">
        <ion-buttons slot="start" (click)="closeModel()">
      		<ion-button class="menueButtonClass"><ion-icon name="close-outline" class="iconMenu"></ion-icon></ion-button>
        </ion-buttons>
    </div>
    <div class="logo">
        <ion-title>
            {{ticketAttachment}}
        </ion-title>
    </div>
</ion-header>
<ion-content>
 	<div>
        <ion-grid>
            <ion-row>
                <ion-col size="3" id="activitiesLocation" *ngFor="let items of returnTicketsArray;let i = index">
                    <div class="activitiesLocation">
                        <div class="imgLocation">
                          <img src="../../assets/images/files.png" *ngIf="darkNormalCalss=='normal'" style="width:5rem">
                          <img src="../../assets/images/filesDark.png" *ngIf="darkNormalCalss=='dark'" style="width:5rem">
                        </div>
                        <div class="download" (click)="functionShowFile(items.path,items.name)">
                        <span class="extantion {{darkNormalCalss}}">{{items.extantion}}</span>
                        <img src="../../assets/images/open.png" *ngIf="darkNormalCalss=='normal'" style="width:25px">
                        <img src="../../assets/images/openDark.png" *ngIf="darkNormalCalss=='dark'" style="width:25px">
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
