/* start header content */
/* edit from zeyad almajali */
ion-content.normal{
	--background:#ffffff;
	background:#ffffff;
}
ion-content.dark{
	--background:#000000;
	background:#000000;
}
ion-header.normal {
	background:#EF874E ;
	color: white;
	display: flex;
	align-items: center;
	position: relative;
}
ion-header.dark {
	background:#c2c1c1 ;
	color: black;
	display: flex;
	align-items: center;
	position: relative;
}
.ios ion-header .header-background {
	backdrop-filter: none !important;
}
ion-header.menu-content {
	padding: 12px 0;
}
ion-header ion-row {
	font-size: 30px;
	align-items: center;
}
ion-header ion-row ion-col {
	padding: 0;
}
.logo {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}
.ios .logo {
	text-align: center;
	position: initial;
	top: 0%;
	left: 0%;
	transform: none;
}
.menueButtonClass{
	--padding-start: 8px;
    --padding-end: 8px;
    height: 48px;
}
.iconMenu{
	font-size:24px;
}
/* end header content */
/* Start Activities List Content */
.activitiesTitleInfo.normal {
	padding-inline-start: 6px;
	color: #3E485B !important;
}
.activitiesTitleInfo.dark {
	padding-inline-start: 6px;
	color: #ffffff !important;
}
.activitiesListContent {
	padding: 0 10px;
}
.activitiesTitleInfo h1 {
	margin-top: 0;
	font-size: 15px;
	margin-bottom: 0;
}
.activitiesStatusList ion-text.close {
	color: rgba(255, 0, 0, 0.68);
}
.activitiesStatusList {
	font-size: 13px;
	text-align: end;
}
.activitiesStatusList .priority {
	color: #3E485B;
	display: block;
}
.imgLocation {
	position: relative;
}
.textLocation {
	position: absolute;
	top: 39%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.textLocation h1 {
	font-size: 20px;
	color: white;
	margin-top: 0px;
	margin-bottom: 4px;
}
.activitiesListContent .activitiesInfo {
	padding-inline-start: 0px !important;
	margin-top: 0.4rem;
}
.activitiesInfo ion-list ion-item {
	--border-style: none;
	--min-height: 19px;
	--padding-start: 0;
	--inner-padding-end: 0;
}
.activitiesInfo ion-list {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.activitiesInfo ion-list ion-item ion-icon {
	color: #EF874E;
	font-size: 15px;
}
.activitiesInfo ion-list ion-item ion-text {
	color: #3E485B;
	padding-left:5px;
}
.activitiesInfo .personContent,.activitiesInfo .callContent {
	display: flex;
	align-items: center;
	margin: 0;
}
.personInfoItem ion-col , .timingInfo ion-col  {
	padding-inline-start: 0;
	padding: 0 8px 0 0;
}
.timingInfo {
	width: 100%;
}
.timingInfo .timing ion-text h2 ,.timingInfo .totalTiming ion-text h2  {
	font-size: 11px;
}
.timingInfo .totalTiming {
	padding: 0px 0.8rem;
	display: flex;
}
.timingInfo .timing {
	display: flex;
}
.timingInfo ion-col {
	display: flex;
	align-items: center;
}
.activitiesLocation {
	max-width: 100%;
	margin: 0 auto;
}
#activitiesLocation {
	padding-right:0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}
#activitiesTitleInfo {
	display: flex;
	align-items: center;
	padding: 0;
}
.activitiesListContent .activitiesInfo ion-text {
	font-size: 11px;
}
/* End Activities List Content */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 0px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width:15px;
  height: 15px;
  right: 0;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.taskLocationContent {
  display: flex;
}
.taskTimeContent  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.taskLocationContent ion-icon.normal {
  color: #EF874E;
    font-size: 15px;
}
.taskLocationContent ion-icon.dark {
  color: #c2c1c1;
    font-size: 15px;
}
.taskTimeContent ion-icon  {
  font-size: 15px;
  color: #2dd36f;
}
.timeTextColor {
  color: #2dd36f;
}
.taskTextContent.normal p ,.taskTimeContent.normal p {
  margin-block-start: 0;
    margin-block-end: 0;
    font-size: 11px;
    padding-left: 5px;
	color: #3E485B !important;
}
.taskTextContent.dark p ,.taskTimeContent.dark p {
  margin-block-start: 0;
    margin-block-end: 0;
    font-size: 11px;
    padding-left: 5px;
	color: #ffffff !important;
}
.statusTaskTitle.normal {
  display: flex;
    font-size: 14px;
    border-radius: 30px;
    padding: 0.2rem 0;
    max-width: 39%;
    color: #EF874E;
}
.statusTaskTitle.dark {
  display: flex;
    font-size: 14px;
    border-radius: 30px;
    padding: 0.2rem 0;
    max-width: 39%;
    color: #c2c1c1;
}
.statusTaskTitle p {
  margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 5px;
    font-size: 12px;
}
.taskStatusInfo ion-select {
  width: 100%;
  font-size: 11px;
}
.taskStatusInfo ion-list ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 0;
}
.taskStatusInfo ion-list {
  padding-top: 0;
  padding-bottom: 0;
}
.descriptionInfo.normal p {
  margin-block-start: 0.5rem;
    margin-block-end: 0;
    font-size: 11px;
	color: #3E485B !important;
	line-height:17px;
}
.descriptionInfo.dark p {
  margin-block-start: 0.5rem;
    margin-block-end: 0;
    font-size: 11px;
	color: #ffffff !important;
	line-height:17px;
}
.descriptionInfo ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 11px;
}
.signatureImg {
  text-align: center;
}
.signatureImg img {
  max-width: 70%;
  margin: 0 auto;
}
.entryExitTime ion-list ion-item ion-label {
  font-size: 11px;
  margin-block-start: 0.5rem;
  margin-block-end: 0;
}
.entryExitTime ion-list ion-item ion-label.entryTime , .entryExitTime ion-list ion-item ion-label.exitTime {
  background: #e9e9e9;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 4px;
  color: black;
  border: 1px solid #bbb;
}
.entryExitTime ion-list ion-item ion-label ion-icon {
  padding-right: 5px;
}
.entryExitTime ion-list ion-item {
  --min-height: 27px;
  --border-style: none;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
}
.entryTimeTitle , .exitTimeTitle{
  display: flex !important;
  align-items: center;
}


/* Popup Forgot Password */
ion-modal {
  --height: 100%;
  /*--border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);*/
}
ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}
ion-modal ion-toolbar {
  --background: #EF874E;
  --color: white;
}
.btnSubmit {
  --border-style: none !important;
}
.listForgotPassword {
  padding: 9px 0 !important;
  margin: 0 0.5rem;
  background: transparent;
  --background: transparent;
}
.listForgotPassword ion-item {
  background: transparent;
  --background: transparent;
  padding-inline-start: 0 !important;
padding-inline-end: 0 !important;
--padding-start: 0px !important;
--padding-end: 0px !important;
}
.btnSubmit {
  padding: 0.5rem 0 0;
}
.btnSubmit ion-button.normal {
  --background: #EF874E;
  --color: white;
}
.btnSubmit ion-button.dark {
	background: #c2c1c1;
  --background: #c2c1c1;
  --color: white;
}
.saveBtn ion-button.normal {
  width: 100%;
background: #EF874E;
--background: #EF874E;
border-radius: 15px;
}
.saveBtn ion-button.dark {
  width: 100%;
background: #c2c1c1;
--background: #c2c1c1;
border-radius: 15px;
}
.statusTaskContent .descriptionInfo ion-textarea {
  background: #d7d7d745;
  border-radius: 5px;
  font-size: 11px;
}
.completeSignature {
  display: none;
}
.completeSignature ion-button.normal {
  --background: #EF874E;
  --ion-color-base: #EF874E !important;
  color: white;
  font-size: 14px;
}
.completeSignature ion-button.dark {
  --background: #c2c1c1;
  --ion-color-base: #c2c1c1 !important;
  color: white;
  font-size: 14px;
}
.minutesTask ion-list ion-item {
  --border-style: none !important;
  --padding-start: 0px !important;
  --inner-padding-end: 0px !important;
}
.minutesTask ion-input {
  background: #e9e9e9;
  border-radius: 4px;
  color: black;
  border: 1px solid #bbb;
  width: 100%;
  font-size: 11px;
  text-indent: 8px;
}
/*class addd by zeyad*/
.colClassVal{
	padding: 0px;
}
.gridClassVal{
	padding-top: 0px;
	padding-bottom:0px;
}
.colClass{
	margin-top:12px;
}
.task-btn ion-button.normal {
	background: #EF874E;
	--ion-color-base: #EF874E !important;
	 border-radius: 58px !important;
    --border-radius: 10px;
    height: 43px;
    text-transform: none;
}
.task-btn ion-button.dark {
	background: #c2c1c1;
	--ion-color-base: #c2c1c1 !important;
	 border-radius: 58px !important;
    --border-radius: 10px;
    height: 43px;
    text-transform: none;
}
.complet.normal {
	background: #EF874E;
	--ion-color-base: #EF874E !important;
	 border-radius: 58px !important;
    --border-radius: 10px;
    height: 43px;
    text-transform: none;
	width:150px
}
.complet.dark {
	background: #c2c1c1;
	--ion-color-base: #c2c1c1 !important;
	 border-radius: 58px !important;
    --border-radius: 10px;
    height: 43px;
    text-transform: none;
	width:150px
}
ion-item.normal,ion-list.normal{
	--background:#ffffff !important;
	background:#ffffff !important;
}
ion-item.dark,ion-list.dark{
	--background:#000000 !important;
	background:#000000 !important;
}
ion-select.normal {
	--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	--padding-top:14px;
	color:#000000;
	width:100%
}
ion-select.dark {
	--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	--padding-top:14px;
	color:#ffffff;
	width:100%
}
ion-label.normal{
	color:#000000 !important;
}
ion-label.dark{
	color:#ffffff !important;
}
.iconNoteDownload.normal{
	font-size:23px;
	color:#EF874E;
	padding:0px 3px 0px 3px;
}
.iconNoteDownload.dark{
	font-size:23px;
	color:#c2c1c1;
	padding:0px 3px 0px 3px;
}
ion-textarea{
	--placeholder-color:#b6b6b5;
	--placeholder-opacity:1;
	color:#000000
}