<ion-header [translucent]="true">
    <div class="menu-header" id="main-content">
        <ion-buttons slot="start">
      		<div class="menueButtonClass" (click)="functioncloseModel()"><ion-icon name="close-outline" class="iconMenu"></ion-icon></div>
        </ion-buttons>
    </div>
    <div class="logo">
        <ion-title>{{forgotPasswordTitle}}</ion-title>
    </div>
</ion-header>
<ion-content>
<!-- Login Form -->
<div class="img-forgetpassword">
  <img src="../../assets/images/forgotPassword.png" style="width:5rem">
</div>
<div class="forgetpassword-form">
    <form style="display: contents;" (ngSubmit)="forgotPassword()">
        <ion-item lines="full">
            <ion-label position="floating">{{forgotPasswordUserName}}</ion-label>
            <ion-input type="text" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" (ionInput)="checkUserName($event.target.value)"></ion-input>
        </ion-item>
        <div class="errorNoData" *ngIf="showMessageUser ==1">{{forgotPasswordUserNameMsg}}</div>        
        <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
        <div class="login-btn">
        	<ion-button color="danger" expand="block" (click)="forgotPassword()">{{forgotPasswordButton}}</ion-button>
        </div>
    </form>
</div>
</ion-content>
